<h1>Login</h1>
<form id="idForm">

    <label for="user">email</label>
    <input type="text" name="email" id="email">
    <label for="pass">password</label>
    <input type="text" name="password" id="password">
    <button type="submit">Ingresar</button>
</form>